root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{py,pyi}]
max_line_length = 88
indent_size = 4

[*.{cpp,h,hpp,c,cc,cxx}]
indent_size = 2
max_line_length = 100

[*.{json,yml,yaml}]
indent_size = 2

[*.{md,rst}]
trim_trailing_whitespace = false
max_line_length = 120

[*.{js,ts,jsx,tsx}]
indent_size = 2

[Makefile]
indent_style = tab

[*.cmake]
indent_size = 2

[CMakeLists.txt]
indent_size = 2